.china{
	width: 100%;
	height: 105vh;
	margin-bottom: 10vh;
}
.ditu{
	float: left;
	width: 50%;
	min-width: 1047px;
	height:100vh;
	margin-left: 6%;
	margin-top: 7vh;
	position: relative;
}
.shi{
	position: fixed;
    left: 23%;
    top: 25%;
    width: 55%;
    height: 50vh;
    border:4px solid #eee;
    z-index: 9999;
    background-color: #fff;
    border-radius: 8px;
}
.shi button{
	width: 25px;
	height: 25px;
	text-align: center;
	float: right;
}
.shi h3{
	display: block;
	float: left;
	font-size: 24px;
	font-weight: 600;
	color:#c7000b;
	margin-top: 2vh;
	width: 55%;
	text-align: right;
}
.clearfix>img{
	width: 50%;
	margin-top: 2vh;
}
.none{
    display: none;
}
#back{
	background-color: #c7000b;
	border:0;
	border-radius: 5px;
	color:#fff;
	font-size: 12px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.c-right{
	width: 25%;
	float: left;
	margin-left: 13%;
}
.c-right img:first-child{
	margin-top: 25vh;
	width: 30%;
}
.c-right img:nth-child(2){
	margin-top: 5vh;
	width: 95%;
}
.c-right img:last-child{
	margin-top: 9vh;
	width: 55%;
	cursor: pointer;
}


@media screen and (max-width:1600px){

    .ditu{
		margin-left: 0;
	}
	.c-right{
		margin-left: 1%;
	}
}